Accommodation

Camping
Royal National Park, LOT 1 Lady Wakehurst Dr, Lilyvale NSW 2508, Australia
There is plenty of room to camp! We suggest you bring a tent, sleeping bag, pillow and torch. The property has toilets, showers and running water. Plus a river for a quick dip.

Glamping

Wow bell tents pop-up hotel (if they fucking reply ever!)


Other
The property is located about 7 minutes drive from Otford. We suggest you jump onto airbnb.
