.row
  .col-lg-8.col-lg-offset-2
    .panel.panel-success
      .panel-body
        %div Welcome! We're getting married.
        %br
        %div It's a camping wedding on a beautiful property in the Royal National Park called Lilyvale. The ceremony is on Saturday 26 November but we are hoping you can also join us the evening prior (Friday 25 November) for camping, delicious woodfired pizza and good times. It would be great if you stayed with us on Saturday night after the ceremony too. Think about the huge breakfast cooking extravaganza you will miss out on if you don't stay.
        %br
        %div There's plenty of room for tents, caravans, swags and even an option to glamp. Running water and toilets are available with all options. If camping is not for you there are a places close by that you can rest your weary heads.
        %br
        %div Scroll through the pages to find more information about accommodation, transport, activities and things to bring.
        %br
        %div Be warned there will be plenty of food, drinks and dancing.
        %br
        %div Looking forward to celebrating with you!
    .well.well-lg
      .panel
        %strong
          4
          %sup 00
        Arriving and mingling

      .panel
        %strong
          4
          %sup 30
        Vowing

      .panel
        %strong
          5
          %sup 00
        Grazing

      .panel
        %strong
          5
          %sup 30
        Hora-ing (dancing)

      .panel
        %strong
          6
          %sup 00
        Dining & Speeching

      .panel
        %strong
          8
          %sup 30
        Dancing & Desserting

      .panel
        %strong
          10
          %sup 00
        Deserting (for those going on the bus)

      .panel
        %strong
          10
          %sup 00
        Perhaps some late-night bonfiring and other shenanaging
