%fieldset(style="border: 1px black solid")
  %span(style="margin-left: 0.4em; padding: 0.2em 0.4em; display: inline-block; border: none")
    Text within the box

%p We'd love you to join us for our Wedding ceremony and party on Saturday 26th November.
%p But we'd love it even more if you'd join us for the whole weekend!
