%fieldset
  = simple_form_for [@rsvp, @guest], html: {class: 'form-horizontal'} do |g|
    = g.input :name, label: false, placeholder: "Guest name", wrapper_html: { class: 'col-xs-4 col-xs-offset-2' }
    = g.input :email, label: false, placeholder: "Email", wrapper_html: { class: 'col-xs-4' }
    %a.btn.pull-left#guest-delete(href="#{rsvp_path(@rsvp)}" method="delete")
      %i.glyphicon.glyphicon-remove
